# Build and Release Folders
bin/
bin-debug/
bin-release/
bin-release-temp/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin
out/

# Other files and folders
.settings/
.metadata/
.idea

# Executables
*.swf
*.air
*.ipa
*.apk
*.airi

~*
*~
*.p12
*.mobileprovision

リカバリ*
.DS_Store
Thumbs.db
_starling_src_
_ignore_
